#registrar_patrocinadores{
    margin-top: 150px;
}

/*inicio de los estilos del div col_izq*/

.col_izq {
    width: 350px;
    height: 350px;
    float:left;
} 
/*inicio de los estilos de la imagen del logo*/
#foto_patrocinadores{
    width: 200px;
}
#image_preview4{
    width: 200px;
    margin-left: 50px;
    padding-bottom: 20px;
}

/*Fin de los estilos de la imagen del logo*/

/*Inicio de los estilos de la sección registrar_patrocinadores*/
#registrar_patrocinadores .col_der{
    width: 460px;
    height: 100px;
    background: #fff;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 200px;
    padding: 40px;
    margin-top: 80px;
    color: #ce6108;
}
#registrar_patrocinadores .col_der div{
    margin-bottom: 20px;
} 
#registrar_patrocinadores .col_der label{
    padding-top: 5px;
    vertical-align: top;
    margin-left: 20px;
    width: 170px;
    display:inline-block;
}
#registrar_patrocinadores .col_der  label:hover{
    color: #fdcb6e;
}
#registrar_patrocinadores .col_der input, select{
    display:inline-block;
    height: 25px;
    width: 220px; 
    border: 2px solid #ce6108;
}
/*Fin*/

/*Inicio de los estilos del botón registrar*/

.fa-trash{
    padding: 0px 0px 0px 15px;
    color: #dd5e06;
}
.boton.subir{
    background: #fff;
    border-radius: 10px;
    margin-top: 50px;
    left: 11%;
}
.boton.modificar{
    background: #fff;
    border-radius: 10px;
    margin-top: 70px;

}