h1{
    font-size: 40px;
    margin: 60px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

/*buscar*/
#filtro{
    padding: 0px 10px 0px 10px ;
    width: 310px;
    height: 36px;
    margin: 0 auto;
}

input{
    width: 160px;
    height: 36px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    outline: none;
    text-align: center;
}

label{
    color: black;
    font-size: 22px;
    margin: 0 auto;
}

div #txtFiltrar{
    width: 600px;
    height: 30px;
    margin: 0 auto;
    display: block;
    border-radius: 15px;
}

div button{
    width: 170px;
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 480px;
}

button{
    color: #fff;
    border-radius: 10px;
    background-color:#ce6108;
    margin-right: 40px;
}

button:hover{
  background-color: rgba(234, 73, 36, 255);
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

select{
    width: 170px;
    height: 45px;
    background-color:white;
    color: #ce6108;
    border-radius: 10px;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    outline: none;
}

select:hover{
  background-color: rgba(234, 73, 36, 255);
    color: white;
    cursor: pointer;
}

option{
  background-color: rgba(234, 73, 36, 255);
}


.lista_lugares{
   height: 100%;
   padding: 100px 68px 0px 68px;
}

#lugares .cardLugar{
    width: 100%;
    height: 360px;
}

#lugares .cardLugar .contenedorImagen{
    max-width: 300px;
    height: 300px;
    float: left;
    padding: 20px;
    margin-left: 20px;
}

#lugares .cardLugar .contenedorImagen .divInfo{
    float: left;
}

.contenedorImagen img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.divInfo{
    padding-top: 40px;
    width: 900px;
    height: 100%;
    color:#ce6108;
    font-size: 20px;
}

.divInfo img{
    width: 49px;
    height: 49px;
}

h2{
  font-size: 30px;
  margin-bottom: 10px;
}

.cardLugar p{
  line-height: 25px;
  padding: 10px;
}
 
.cardLugar .cajaCalificacion{
  float: left;
}

.cardLugar .cajaCalificacion .puntuacion{
  float: left;
  width: 400px;
  height: 65px;
}
.cardLugar .cajaCalificacion  label{
  display: block;

}
.cardLugar .cajaCalificacion  .puntuacion .lapa::before{
  float: left;
  padding: 5px;
  content:  url(../imgs/voto_2.png);
}

.cardLugar h3{
  font-size: 30px;
  color: #ce6108;
  padding-bottom: 40px;
}


.cardLugar{
    color: #ce6108;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.seguir{
    width: 100px;
    min-height: 16px;
    float:right;
    background-color: #ce6108;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    margin-top: 170px;
    position: absolute;
    margin-left: 525px;
    cursor: pointer;
}

.reservar:hover {
    background-color: rgba(234, 73, 36, 255);
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

.verInfo{
    width: 100px;
    height: 16px;
    float:right;
    background-color: #ce6108;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    margin-top: 250px;
    position: absolute;
    margin-left: 660px;
}

.verInfo:hover {
    background-color: rgba(234, 73, 36, 255);
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

#footer{
    margin-top: 120px;
}

.cardLugar p{
  line-height: 25px;
  padding: 10px;
}

.cardLugar h5{
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 5px;
}

.cardLugar .calificacion{
  width: 30px;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 2px;
}

.cardLugar h3{
  font-size: 30px;
  color: #ce6108;
  padding-bottom: 40px;
}

.cardLugar .calificacionTotal{
  width: 33px;
  height: 16px;
  background-color: rgba(234, 73, 36, 255);
  float: right;
  color: white;
  text-align: center;
  margin-top: 7px;
  margin-right: 75px;
  border-radius: 2px;
  padding: 5px;
}

#botones{
  width: 567px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

.far{
  width: 14px;
  height: 16px;
  float: left;
  padding: 3px;
  margin-top: 9px;
  margin-right: 15px;
  color: #ce6108;
}

.wrap{
  width: 100%;
  max-width: 90%;
  margin: 0px auto;
}
ul.tabs{
  width: 100%;
  background: #363636;
  list-style: none;
  display: flex;
}

ul.tabs li{
  width: 15%;
}

ul.tabs li a{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-align: center;

  display: block;
  padding: 20px 0px;
}

.active{
  background: #ce6108;
}

ul.tabs li a .tab-text{
  margin-left: 8px;
}

.secciones{
  width: 100%;
  background: #fff;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.secciones article{
  padding: 30px;
}

.secciones article p{
  text-align: justify;
}


@media screen and (max-width: 700px){
  ul.tabs li{
    width: none;
    flex-basis: 0;
    flex-grow: 1;
  }
}

@media screen and (max-width: 450px){
  ul.tabs li a{
    padding: 15px 0px;
  }

  ul.tabs li a .tab-text{
    display: none;
  }

  .secciones article{
    padding: 20px;
  }
}

.secciones p{
   width: 910px;
   font-size: 20px;
   padding: 5px;
}

label{
font-size: 18px;
padding: 5px;
}

#map{
    width: 1120px;
    height: 350px;
    margin-left: 20px;
    border-radius: 10px;
}

#latitud{
display: none;
}

#longitud{
display: none;
}

.secciones #tabOpiniones{
  height: 400px;
}
.star{
  color: goldenrod;
  font-size: 2.5rem;
  padding: 5px; /* space out the stars */

}
.star::before{
  content:  url(../imgs/voto_si.png);  /* '\2606'  star outline */
  cursor: pointer;

}
.star.rated::before{
  /* the style for a selected star */
  
  content:  url(../imgs/voto_2.png);
  /* filled star */
}


.stars{
  counter-reset: rateme 0;
  font-size: 32px;
  font-weight: 900;
  width: 1000px;
  height: 40px;
  float: left;
  padding: 2px;
  margin-bottom: 15px;
  margin-top: 10px;
}
.star.rated{
  counter-increment: rateme 1;
}
.stars::after{
  content: counter(rateme) '/5';
  margin-left: 5px;
  vertical-align: middle;
}

.boton.calificar{
  display: block;
  margin-top: 50px;
  left: 20%;
  padding: 10px;
  outline: none;

}
.boton.calificar{
  display: block;
  margin-top: 50px;
  left: 10%;
  padding: 10px;
  outline: none;

}

.inputComentar{
  max-width: 400px;
  min-width: 400px;
  max-height: 50px;
  min-height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  border: 2px solid #ce6108;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0.6);
  padding-left: 8px;
}

.etiquetas{
  background-color: rgba(234, 73, 36, 255);
  border-radius: 10px;
  color: white;
  display: inline;
}

.fas{
  color: white;
}


.fab{
  text-decoration: none;
  color: rgba(234, 73, 36, 255);
  font-size: 50px;
  float: right;
  padding: 10px;
}

.direccion{
  margin-bottom: 20px;
}
#tblComentarios{
  float: right;
  margin: -80px 20px 0px 50px;
  width: 640px;


}
#tblComentarios thead{
  background: none;
  background: #ce6108;
}
.tabla thead th, .tabla tbody td{
  max-width: 640px;
  min-width: 640px;
  text-align: center;
  
}
#tblComentarios .bodyComentarios{
  background: #fff;
  min-height: 200px;
  max-height: 250px;
  
}
#tblComentarios .bodyComentarios tr{
  width: 100%;
  
}
.bodyComentarios {
  overflow: scroll;
  min-height: 100px;
  width: 100%;

}

#tblComentarios .bodyComentarios img{
  border-radius: 50px;
  width: 20px;
  height: 20px;
  float: left;
  
}
#tblComentarios .bodyComentarios label{
  float: left;
  
}


.cardEvento{
  width: 920px;
  height: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

.cardEvento .contenedorImagen2{
  max-width: 220px;
  height: 220px;
  float: left;
  padding: 20px;
  margin-left: 20px;
}

.cardEvento .contenedorImagen2 .divInfo2{
  width: 400px;
  float: left;
}

.contenedorImagen2 img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.divInfo2{
  padding-top: 40px;
  width: 550px;
  border-radius: 10px;
  color: rgba(211, 84, 0,0.9);
}

.divInfo2 img{
  width: 49px;
  height: 49px;
}

.cardEvento{
  color: rgba(211, 84, 0,0.9);
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0);
  transition: 0.3s;
  border-radius: 10px;
}

.cardEvento:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

.verMas{
  width: 100px;
  height: 16px;
  float:right;
  background-color: rgba(211, 84, 0,0.9);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  margin-top: 140px;
  position: absolute;
  margin-left: 375px;
}

.verMas:hover {
  background-color: rgba(234, 73, 36, 255);
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

.verMas2{
  width: 100px;
  height: 16px;
  background-color: rgba(211, 84, 0,0.9);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}

.verMas2:hover {
  background-color: rgba(234, 73, 36, 255);
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.cardEvento .moneda{
  text-align: end;
  min-width: 200px;
  font-size: 25px;
  font-weight: bold;
  padding-top: 60px;
  position: absolute;
}

.cardEvento p{
line-height: 20px;
padding: 5px;
}

.cardEvento h5{
font-weight: bold;
font-size: 20px;
padding-bottom: 5px;
}

.cardEvento h3{
font-size: 30px;
color: rgba(211, 84, 0,0.9);
padding-bottom: 40px;
}

