
/*inicio de los estilos del formualario contribucion*/
.contribucion form{
    width: 460px;
    height: 250px;
    background: #dd5e06;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 40px;
    color: #fff;
}
.contribucion div{
    margin-bottom: 20px;
}
.contribucion label{
    padding-top: 5px;
    vertical-align: top;
    margin-left: 20px;
    width: 170px;
    display:inline-block;
}
.contribucion label:hover{
    color: #fdcb6e;
}
.contribucion input, select{
    display:inline-block;
    height: 25px;
    width: 220px; 
}
.contribucion textarea{
    display:inline-block;
    min-height: 115px;
    min-width: 220px; 
    max-width: 220px;
    max-height: 115px;
}
/*fin */

/*Inicio de los estilos del botón registrar*/
#btnRegistrarContribucion{
    margin: 0px 0px 0px 580px;
}

