#tablas h1{
    width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    font-size:30px;
    font-family: Arial, Helvetica, sans-serif;
    color:  #ffffff;
    margin-bottom: 30px; 
    
};
#tablas #filtros{ 
    margin: 0 auto;
    background: #ffffff;
    display: block;
    width: 400px;
    height: 300px;
}
input{
    padding: 0px 0px 0px 10px;
    border:none;
    height: 25px;
    width: 160px;
    border-radius: 6px;
    outline: none;
    color: #ce6108;
    border: 1px solid #fff;
    background: #fff;
}
#txtFiltrar{
    margin: 0px 0px 50px 460px;
}
#txtFecha{
    margin: 0px 0px 50px 86px;
}

.boton{
    float: left;
    background: #ffffff;
    border-radius: 10px;
    top: 38%;
}

/*css de botones*/
#buscarLugarFecha{
    float: left;
    font-size: 15px; 
    
}
#filtroFecha{
    float: left;
    font-size: 15px;
}
button{
    width: 190px;
    height: 46px;
    font-size: 15px;
}
.boton.btnLugar{ 
    left: 0;
    left: 40%;
}
.boton.btnFecha{
    left: 60%;
}
.tabla thead th, .tabla tbody td{
    text-align: center;
    min-width: 150px;
    max-width: 150px;
    
}

